@media only screen and (max-width: 1860px) {

}

@media only screen and (max-width: 1690px) {

    .block-1 .logo {
        padding-left: 20px;
    }

    .block-1 .logo i {
        margin-right: 20px;
    }

    .block-1 .nav ul li {
        margin-left: 12px;
    }

    .block-1 .nav ul li a {
        font-size: 11px;
        letter-spacing: 0;
    }

    .block-1 .btn-order-now {
        font-size: 12px;
        padding-top: 11px;
        margin-right: 6px;
    }

    .block-1 .b1-contact .b1-phone div:nth-child(2) p {
        font-size: 11px;
    }

    .b1-phone + div p {
        font-size: 11px;
    }

    .block-1 .b1-contact .b1-phone div:nth-child(2) {
        margin-left: 7px;
    }
}

@media only screen and (max-width: 1426px) {
    .block-3 .b3-section3 {
        background: url("../images/b3-bg4.png") no-repeat left 30% bottom;
        margin-right: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 1300px) {
    .block-1 .b1-contact .b1-phone + div p {
        font-size: 12px;
    }

    .block-1 .b1-contact .b1-phone div:nth-child(2) p {
        font-size: 10px;
    }

    .block-1 .nav ul li a {
        font-size: 10px;
    }

    .block-1 .nav ul li:first-child {
        margin-left: 0;
    }

}

@media only screen and (max-width: 1199px) {
    .block-1 .b1-contact .b1-phone div:nth-child(2) {
        margin-left: 7px;
    }

    .b1-phone div:first-child p {
        font-size: 12px;
    }

    .block-1 .btn-order-now {
        font-size: 12px;
    }

    .block-1 .btn-order-now {
        margin-top: 4px;
        margin-bottom: 4px;
        padding-top: 9px;
        height: 40px;
    }

    h4 {
        font-size: 31px;
        line-height: 38px;
    }

    .block-2 .b1-section2 {
        padding-top: 34px;
    }

    .block-2 .b1-section1 {
        padding-top: 65px;
    }

    .block-2 {
        background: url("../images/b1-bg1.png") no-repeat right -15px top -30px / 50%, url("../images/b1-bg2.png") no-repeat left -390px top 70px;
    }

    .block-2 .b2-section3 .btn-order-now {
        font-size: 13px;
    }

    .block-3 .b3-section3 {
        padding-top: 96px;
    }

    .block-3 .b3-section8 {
        background: url("../images/b3-bg6.png") no-repeat right top;
        padding-bottom: 0px;
        padding-right: 0;
    }

    .b3-section7 img {
        margin-bottom: 25px;
    }

    .block-6 .b6-phone div p, .block-6 .b6-email div p, .b6-adrress div p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 991px) {
    .block-1 .b1-contact .b1-phone div:nth-child(2) p {
        margin-left: 40px;
    }

    .block-1 .b1-contact .b1-phone div:nth-child(2) {
        padding-top: 8px;
        margin-left: 7px;
    }

    .block-1 .b1-contact {
        padding-top: 0;
    }

    .block-1 .btn-order-now {
        margin-top: 0;
    }

    .block-1 .logo, .block-1 .nav {
        padding-top: 14px;
    }

    .block-1 .logo {
        padding-bottom: 0;
    }

    .block-1 .b1-contact {
        padding-top: 9px;
    }

    .block-1 .btn-order-now {
        width: 100%;
    }

    .block-2 {
        background: url("../images/b1-bg1.png") no-repeat right -15px top -30px / 50%;
    }

    h4 {
        font-size: 22px;
        line-height: 29px;
    }

    .block-2 .b1-section1 p:last-child {
        font-size: 19px;
        line-height: 13px;
    }

    .block-2 .b1-section1 {
        padding-top: 32px;
    }

    .b2-counter {
        margin-left: auto;
        margin-right: auto;
    }

    .block-2 .line:nth-child(2) {
        width: 0px;
        height: 0;
    }

    .block-3 .b3-section3 img {
        margin: 0 auto;
        display: block;
    }

    .block-3 .b3-section3 {
        background: url("../images/img5.png") no-repeat center top / 180px, url("../images/b3-bg4.png") no-repeat center bottom;
    }

    .block-3 .b3-section5 h5 {
        font-size: 18px;
        line-height: 36px;
    }

    .b3-section5 {
        margin-top: 6px;
    }

    .block-3 .b3-section8 {
        padding-right: 0;
        background: url("../images/b3-bg6.png") no-repeat right top;
    }

    .b3-section7 img {
        margin-top: 50px;
    }

    .block-6 .b6-phone div p, .block-6 .b6-email div p, .b6-adrress div p {
        font-size: 11px;
        text-transform: lowercase;
    }

    .b4-section2 img {
        display: block;
        margin: 0 auto;
    }

    .b6-service ul {
        padding: 0;
    }

    .b6-section3 ul {
        padding: 0;
    }

    .block-6 .b6-section3 ul li a {
        margin-left: 15px;
        margin-right: 15px;
    }

    .block-6 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .block-6 .b6-phone, .block-6 .b6-email, .b6-adrress, .b6-social {
        margin-bottom: 10px;
    }

    .b6-footer {
        padding-top: 14px;
        margin-top: 5px;
    }

    .block-6 .b6-section1 p {
        margin-bottom: 15px;
    }

    .block-1 .b1-contact {
        margin-bottom: 32px;
    }

    .blog-1 {
        padding-top: 35px;
        padding-bottom: 45px;
        /*background: url("../images/bg2.png") no-repeat left -180px top 10px, url("../images/bg1.png") no-repeat right -10px bottom 60px, url("../images/bg3.png") no-repeat center top -30px;*/
    }
    .blog-2-s3 ul{
        padding-left: 10px;
        padding-right: 10px;
    }
    .blog-2-s3 h3{
        padding-left: 15px;
    }
    .baner-1 h3{
        font-size: 20px;
        line-height: 28px;
    }
    .baner-1{
        padding: 15px 20px;
    }
    .baner-1 p:nth-child(2){
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .baner-1 .btn-order-now{
        margin-top: 0;
    }
    .baner-1 img{
        margin-left: 17px;
    }
    .baner-3{
        padding: 15px 15px 15px 15px;
    }
    .baner-3 p{
        text-align: center;
    }
    .baner-3 h3{
        text-align: center;
    }
    .baner-3 .btn-order-now{
        margin: 0 auto;
        display: block;
    }


}

@media only screen and (max-width: 767px) {
    .block-1 .b1-contact .b1-phone div:nth-child(2) {
        padding-top: 8px;
    }

    .block-1 .b1-contact .b1-phone div:nth-child(2) p {
        margin-left: 11px;
    }

    .block-1 .nav ul li {
        margin-left: 10px;
    }

    .block-1 .nav ul {
        padding-right: 0;
    }

    .block-1 .nav ul li a {
        font-size: 9px;
    }

    .block-2 {
        background: url("../images/b1-bg1.png") no-repeat left -235px top 120px / 300px;
    }

    .b1-section2 img {
        position: absolute;
        top: 583px;
    }

    .block-2 .b2-section3 {
        margin-bottom: 67%;
        margin-top: 0;
        padding-left: 22px;
        padding-right: 22px;
    }

    .block-2 .b1-section2 {
        position: relative;
    }

    .block-2 .b2-section3 .btn-order-now {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    .b2-section3 h3 {
        font-size: 23px;
    }

    .b2-counter {

        margin-top: 50px;
        background: url("../images/b2-bg3.png") no-repeat center center/ 145px;
        padding: 13px 13px 13px 13px;

    }

    .b2-counter p:first-child {
        font-size: 25px;
        margin-top: 12px;
        line-height: 16px;
    }

    .b2-counter p:last-child {
        line-height: 16px;
    }

    .b2-counter p:first-child span {
        font-size: 24px;
        margin-right: 11px;
    }

    .b2-counter {
        margin-top: 10px;
    }

    .block-3 {
        background: url("../images/mobile-img1.png") no-repeat left -10px top, url("../images/mobile-img2.png") no-repeat right -10px top;
    }

    .bg-icon1__1_, .bg-icon2__1_, .bg-icon1_copy, .bg-icon2_copy_2 {
        margin-right: 0;
    }

    .block-3 .b3-section8 {
        padding-bottom: 0;
    }

    .b3-section6 {
        margin-top: 0px;
    }

    .b1-phone div:first-child p {
        display: none;
    }

    .block-1 .b1-contact .b1-phone div:nth-child(2) p:last-child {
        display: none;
    }

    .block-1 .b1-contact .b1-phone div:nth-child(2) p {
        font-size: 13px;
    }

    .b3-section1 {
        display: inline-block;
        margin-top: 0px;
    }
    .blog-1 {
        background: url("../images/bg2.png") no-repeat left -180px top 10px, url("../images/bg1.png") no-repeat right -10px bottom 60px, url("../images/bg3.png") no-repeat center top -30px;
    }
}

@media only screen and (max-width: 575px) {
    .b1-phone div:first-child p {
        margin-top: 8px;
    }

    .mobile-menu {
        color: #8b969d;
        margin-top: 10px;
        font-size: 17px;
        margin-left: 15px;
        margin-right: 14px;
    }

    .block-1 .btn-order-now {
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .block-3 .b3-section3 {
        background: url("../images/img5.png") no-repeat center top / 180px;
    }

}

@media only screen and (max-width: 500px) {
    .b1-phone div:first-child p {
        margin-top: 8px;
    }

    .mobile-menu {
        color: #8b969d;
        margin-top: 10px;
        font-size: 17px;
        margin-left: 15px;
        margin-right: 14px;
    }

    .block-1 .btn-order-now {
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .title-p {
        font-size: 18px;
    }

    .block-4 .b4-section1 {
        padding: 30px 25px;
    }

    .b4-section3 div:first-child {
        margin-top: 20px;
    }

    .block-4 {
        padding-bottom: 25px;
    }

    .block-5 {
        background: url("../images/b5-bg2.png") no-repeat left -20px bottom -20px / 100px, url("../images/b5-bg1.png") no-repeat right -20px bottom -20px / 100px, url("../images/b5-bg3.png") no-repeat center;
        background-color: #ff9e24;

    }

    .block-5 .b5-section1 .btn-order-now {
        margin-right: 0;
    }

    .block-5 .b5-section1 {
        padding-left: 35px;
        padding-right: 35px;
    }
}