.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

p {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

h4 {
    color: #2a2d3a;
    font-family: "Gentium Book";
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

ul {
    padding-left: 30px;
    padding-right: 15px;
}

.btn-order-now {
    box-shadow: 0 2px 5px rgba(237, 147, 33, 0.3);
    background-color: #fb8c00;
    background-image: linear-gradient(to top, #fb8c00 0%, #ff9e24 100%);
    color: white;
    border-radius: 25px;
    padding: 7px 0 13px 0;
    width: 125px;
    margin-right: 25px;
    height: 44px;
    margin-top: 24px;
}

.btn-order-now:hover {
    color: white;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.block-1 {
    box-shadow: 4px 6px 20px rgba(174, 193, 196, 0.2);
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.block-1 .logo {
    padding: 32px 0 32px 53px;
}

.block-1 .logo i {
    color: #8b969d;
    margin-right: 42px;
    margin-top: 10px;
}

.block-1 .nav ul {
    padding-left: 0;
    display: flex;

}

.block-1 .nav ul li {
    margin-left: 20px;
}

.block-1 .nav {
    padding-top: 35px;
}

.block-1 .nav ul li a {
    color: #313440;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    /* Text style for "Home" */
    letter-spacing: 0.24px;
}

.block-1 .b1-contact {
    padding-top: 35px;
}

.block-1 .b1-contact .b1-phone + div p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.block-1 .b1-contact .b1-phone div:nth-child(2) {
    margin-top: -5px;
    margin-left: 18px;
}

.block-1 .b1-contact .b1-phone div:nth-child(2) p {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.block-1 .b1-chat {
    border-left: 2px solid #9ea1a4;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: -13px;
    padding-top: 14px;
}

.block-1 .b1-chat p {
    color: #313440;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.btn-login {
    color: #136bb5;
    border: 2px solid #c8dbe5;
    background: white;
    box-shadow: none;
}

.btn-login:hover {
    color: #136bb5;
}

.block-2 .b1-section1 {
    padding-top: 130px;
}

.block-2 .b1-section1 p:last-child {
    color: #292c39;
    font-family: "Gentium";
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    letter-spacing: -0.48px;
}

.block-2 .b1-section1 p:last-child span {
    color: #fb8c00;
    letter-spacing: -0.48px;
}

.block-2 .b1-section2 {
    padding-top: 85px;
}

.block-2 .b2-section3 {
    box-shadow: 0 22px 40px rgba(82, 121, 174, 0.09);
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    padding: 30px 33px 34px 33px;
    margin-top: 40px;
}

.block-2 .b2-section3 select {
    border: 1px solid #e0e5e8;
    background-color: #fafcfc;
    height: 50px;
    width: 100%;
    color: #9ea1a4;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
}

.block-2 .b2-section3 input {
    border: 1px solid #e0e5e8;
    background-color: #fafcfc;
    height: 50px;
    color: #9ea1a4;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
}

.block-2 .b2-section3 p label {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
}

.block-2 .b2-section3 p {
    margin-bottom: 5px;

}

.btn-outline-secondary {
    border-color: #e0e5e8;
    color: #9ea1a4;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
}

.block-2 {
    background: url("../images/b1-bg1.png") no-repeat right -53px top -242px, url("../images/b1-bg2.png") no-repeat left -53px top 70px;
}

.block-2 .b2-section3 .btn-order-now {
    padding: 5px;
    width: 100%;
    margin-top: 30px;
}

.bg-icon1 {
    display: block;
    width: 26px;
    height: 29px;
    background: url('../images/css_sprites.png') -62px -10px;
}

.bg-icon2 {
    display: block;
    width: 32px;
    height: 25px;
    background: url('../images/css_sprites.png') -10px -10px;
}

.bg-icon3 {
    display: block;
    width: 29px;
    height: 25px;
    background: url('../images/css_sprites.png') -108px -10px;
}

.bg-icon4 {
    display: block;
    width: 28px;
    height: 28px;
    background: url('../images/css_sprites.png') -10px -55px;
}

.b2-counter {
    margin-top: 50px;
    background: url("../images/b2-bg3.png") no-repeat center center;
    padding: 41px 16px 51px 55px;
}

.b2-counter p:first-child {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
}

.b2-counter p:first-child span {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
}

.line {
    width: 2px;
    height: 76px;
    background: #e0f3fc;
    margin-top: 90px;
}

.line-title {
    width: 60px;
    height: 2px;
    background: #5fba46;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.bg-icon1__1_ {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -10px -10px;
}

.bg-icon2__1_ {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -107px -10px;
}

.bg-icon1_copy {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -10px -107px;
}

.bg-icon2_copy_2 {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -107px -107px;
}

.b3-section1 {
    display: inline-block;
    margin-top: 50px;

}

.b3-section1 p:first-child {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
}

.b3-section1 p:first-child span {
    margin-left: -100px;
}

.block-3 {
    background: url("../images/b3-bg1.png") no-repeat left -80px top, url("../images/b3-bg2.png") no-repeat center top 215px, url("../images/b3-bg7.png") no-repeat right -321px top 1473px;
}

.block-3 .b3-section2 .b3-s2-tab {
    box-shadow: 1px 2px 3px rgba(100, 103, 108, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 19px 26px 1px 26px;
    margin-top: 10px;
}

.block-3 .b3-section2 .b3-s2-tab p {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
}

.block-3 .b3-section2 .b3-s2-tab p span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background: #dff3fb;
    border-radius: 50%;
    color: #0996cd;
    font-size: 11px;
}

.block-3 .b3-section3 {
    background: url("../images/b3-bg3.png") no-repeat right top, url("../images/b3-bg4.png") no-repeat left 30% bottom;
    margin-right: -140px;
    padding-right: 140px;
    padding-top: 55px;
}

.block-3 .b3-section3 img {
    cursor: pointer;
}

.block-3 .b3-section4 .line-title {
    margin-top: 90px !important;
}

.b3-section6, .b3-section5 {
    margin-top: 45px;
}

.block-3 .b3-section5 h5 {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.bold-p {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    /* Text style for "A, re you" */
    font-family: "Open Sans - Semibold";
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    /* Text style for "Place you" */
    font-family: "Open Sans";
    line-height: 26px;
}

.block-3 .b3-section8 p {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 28px;

}

.block-3 .b3-section8 {
    padding-right: 145px;
    background: url("../images/b3-bg5.png") no-repeat right bottom, url("../images/b3-bg6.png") no-repeat right top;
    padding-bottom: 130px;
}

.block-4 .b4-section1 p:first-child {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.title-p {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
    /* Text style for "G, aylon V" */
    letter-spacing: 0.42px;
}

.block-4 .b4-section1 a {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 30px;
}

.block-4 .b4-section1 a:nth-child(2) {
    opacity: 0.4;
}

.block-4 .b4-section1 {
    padding: 49px 54px;
    box-shadow: 0 3px 40px rgba(150, 150, 150, 0.14);
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 30px;
}

.block-4 .b4-section2 {
    margin-top: 30px;
}

.block-4 .b4-section1 i {
    color: #ffc863;
}

.block-4 {
    background: url("../images/b4-bg1.png") no-repeat left 89px top 108px, url("../images/b4-bg2.png") no-repeat right center;
    padding-bottom: 120px;
}

.block-5 .b5-section1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-5 .b5-section1 p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.block-5 .b5-section1 .btn-order-now {
    box-shadow: 0 2px 10px rgba(126, 80, 22, 0.21), 0 2px 0 1px rgba(126, 80, 22, 0.09);
    background: none;
    background-color: #ffffff;
    color: #fb8c00;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
    width: 180px;
}

.block-5 {
    background: url("../images/b5-bg2.png") no-repeat left -50px bottom -50px, url("../images/b5-bg1.png") no-repeat right -50px bottom -50px, url("../images/b5-bg3.png") no-repeat center;
    background-color: #ff9e24;
}

.block-6 {
    background: #1f2028;
    padding-top: 100px;
    padding-bottom: 90px;
}

.block-6 .b6-logo {
    margin-bottom: 60px;
}

.block-6 p {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.block-6 .b6-phone, .block-6 .b6-email, .b6-adrress, .b6-social {
    margin-bottom: 30px;
}

.block-6 .b6-phone div p, .block-6 .b6-email div p, .b6-adrress div p {
    color: #f6f9f9;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.block-6 .b6-social i {
    color: #ffffff;
    font-size: 19px;
    margin-left: 10px;
}

.block-6 .b6-title p {
    color: #ff9e24;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.block-6 .b6-service ul, .block-6 .b6-menu ul {
    padding-left: 0;
}

.block-6 .b6-service ul li a {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}

.block-6 .b6-menu ul li a {
    color: #f6f9f9;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}

.block-6 .b6-section1 p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.block-6 .b6-section2 p {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

.block-6 .b6-section3 ul li {
    border-right: 1px solid #505255;

}

.block-6 .b6-section3 ul li a {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 25px;
    margin-right: 25px;
}

.border-none {
    border: none !important;
}

.b6-footer {
    padding-top: 60px;
    border-top: 1px solid #6d6e75;
    margin-top: 60px;
}

.blog-1 nav ol.breadcrumb {
    background: none;
    padding: 0;
}

.blog-1 nav ol.breadcrumb li {
    color: #595a60;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.blog-1 nav ol.breadcrumb li a {
    color: #595a60;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.blog-1 {
    padding-top: 70px;
    padding-bottom: 85px;
    background: url("../images/blog-img-1.png") no-repeat left -65px top 40px, url("../images/blog-img-2.png") no-repeat right 80px top 50px, url("../images/blog-img-3.png") no-repeat center top -250px;
}

.bg-blog {
    background-color: #f2fafe;
    box-shadow: 0 1px 3px rgba(83, 94, 105, 0.32);
    margin-bottom: 30px;
}

.blog-2-s1 {
    padding: 30px 15px 5px 0px;
}

.blog-2-s1 h3 {
    color: #136bb5;
    font-family: "Gentium Book Basic";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.blog-2-s1 div a {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}

.blog-2-s1 div p i {
    margin-left: 12px;
}

.pl-0 {
    padding-left: 0 !important;
}

.blog-2-s3 h3 {
    border-radius: 10px 10px 0 0;
    background-color: #8dcdff;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    padding: 8px 30px 5px 30px;
    margin-bottom: 0;
}

.blog-2-s3 ul li {
    color: #004f99;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 45px;
    /* Text style for "Dissertati" */
    letter-spacing: -0.14px;
    border-bottom: 1px solid #e6f5fe;;
}

.blog-2-s3 ul li i {
    opacity: 0.4;
    margin-top: 15px;
}

.blog-2-s3 ul {
    border-radius: 0 0 10px 10px;
    border: 3px solid #e6f5fe;
    margin-bottom: 30px;
}

.blog-2-s4 span a {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #e0f3fc;
    margin: 5px 5px;
    display: inline-block;
}

.blog-2-s4 {
    margin-bottom: 30px;
}

.baner-1 {
    padding: 40px 47px;
    background:url("../images/baner1-img1.png") no-repeat left top,
    url("../images/baner1-img3.png") no-repeat left top 240px,
    url("../images/baner1-img4.png") no-repeat right top 210px,
    #f2fafe url("../images/baner1-img5.png") no-repeat left 47% top 217px;
    #f2fafe url("../images/baner1-img5.png") no-repeat left 47% top 217px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 rgba(0, 49, 84, 0.1);
    margin-bottom: 30px;
}

.baner-1 h3 {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    /* Text style for "Words to T" */
    letter-spacing: -0.6px;
}

.baner-1 p:nth-child(2) {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.baner-1 p:nth-child(3) {
    color: #16a6da;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    /* Text style for "Use our ne" */
    letter-spacing: -0.32px;
}

.baner-1 .btn-order-now {
    display: block;
    margin: 0 auto;
    color: #ffffff !important;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 80%;
    padding-top: 9px;
    margin-top: 20px;
}
.baner-2{
    background:url("../images/baner2-img1.png") no-repeat left top;
    padding: 33px 0 33px 33px;
}
.baner-2 h3{
    color: #1d319d;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 600;
    line-height: 23.7px;
    text-transform: uppercase;
    /* Text style for "15%OFF" */
    letter-spacing: -1.09px;
}
.baner-2 p{
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}
.baner-2 .btn-order-now{
    margin-top: 0;
    box-shadow: none;
    background: white;
    color: #fb8c00!important;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 13px;
}
.baner-3{
    background:url("../images/baner3-img1.png") no-repeat left top;
    padding: 40px 30px 135px 35px;
}
.baner-3 h3{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    /* Text style for "Want a TOP" */
    letter-spacing: -0.44px;
}
.baner-3 p{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.baner-3 .btn-order-now{
    color: #ffffff!important;
    margin-top: 0;
}
.page-link {
    position: relative;
    display: block;
    padding: 0;
    margin-left: 30px;
    line-height: 1.25;
    color: #3c3d3e;
    background-color: #fff;
    border: none;
    padding: 5px 10px;

}

.pagination {
    margin-top: 50px;
    margin-bottom: 100px;

}

.page-link:hover {
    padding: 5px 10px;
    border-radius: 50%;
    color: #136bb5;
}

.my-active {
    background-color: #136bb5;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
}

.page-item:last-child .page-link, .page-item.disabled .page-link {
    border-radius: 0;
}
.free-essays-s1 h3{
    color: #30333f;
    font-family: Gentium;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    /* Text style for "Free colle" */
    letter-spacing: -0.6px;
}
.free-essays-s1 h5{
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    /* Text style for "Profession" */
    letter-spacing: -0.48px;
}
.blue-p{
    color: #136bb5;
    font-family: "Gentium";
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    line-height: 31px;
    padding: 0 38px;
    text-align: center;
}
.free-essays-s1 ul li{
    list-style: none;
    background: url("../images/free-essays-img1.png") no-repeat left top 8px;
    padding-left: 30px;
    color: #004f99;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    /* Text style for "Feeling em" */
    letter-spacing: -0.3px;
}
.bg-icon3_copy_7 {
    width: 27px; height: 31px;
    background: url('../images/free-essays.png') -10px -10px;
}
.bg-icon3_copy_3 {
    width: 28px; height: 24px;
    background: url('../images/free-essays.png') -10px -106px;
}
.bg-icon3_copy_4 {
    width: 30px; height: 24px;
    background: url('../images/free-essays.png') -59px -61px;
}
.bg-icon3_copy_2 {
    width: 29px; height: 26px;
    background: url('../images/free-essays.png') -106px -10px;
}
.bg-icon3_copy_5 {
    width: 29px; height: 27px;
    background: url('../images/free-essays.png') -57px -10px;
}
.bg-icon3__1_ {
    width: 29px; height: 25px;
    background: url('../images/free-essays.png') -10px -61px;
}
.free-essays-s2{
    box-shadow: 0 1px 4px rgba(100, 103, 108, 0.26);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 19px;
    margin-bottom: 15px;
}
.free-essays-s2 p{
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.3px;
    margin-bottom: 0;
}
.free-essays-s2 div div{
    margin-right: 15px;
}
.free-essays-s2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background: #dff3fb;
    border-radius: 50%;
    color: #0996cd;
    font-size: 11px;
    margin-right: 15px;
}
