.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

p {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

h4 {
    color: #2a2d3a;
    font-family: "Gentium Book";
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

ul {
    padding-left: 30px;
    padding-right: 15px;
}

.btn-order-now {
    box-shadow: 0 2px 5px rgba(237, 147, 33, 0.3);
    background-color: #fb8c00;
    background-image: linear-gradient(to top, #fb8c00 0%, #ff9e24 100%);
    color: white;
    border-radius: 25px;
    padding: 7px 0 13px 0;
    width: 125px;
    margin-right: 25px;
    height: 44px;
    margin-top: 24px;
}

.btn-order-now:hover {
    color: white;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.block-1 {
    box-shadow: 4px 6px 20px rgba(174, 193, 196, 0.2);
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.block-1 .logo {
    padding: 32px 0 32px 53px;
}

.block-1 .logo i {
    color: #8b969d;
    margin-right: 42px;
    margin-top: 10px;
}

.block-1 .nav ul {
    padding-left: 0;
    display: flex;

}

.block-1 .nav ul li {
    margin-left: 20px;
}

.block-1 .nav {
    padding-top: 35px;
}

.block-1 .nav ul li a {
    color: #313440;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    /* Text style for "Home" */
    letter-spacing: 0.24px;
}

.block-1 .b1-contact {
    padding-top: 35px;
}

.block-1 .b1-contact .b1-phone + div p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.block-1 .b1-contact .b1-phone div:nth-child(2) {
    margin-top: -5px;
    margin-left: 18px;
}

.block-1 .b1-contact .b1-phone div:nth-child(2) p {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.block-1 .b1-chat {
    border-left: 2px solid #9ea1a4;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: -13px;
    padding-top: 14px;
}

.block-1 .b1-chat p {
    color: #313440;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.btn-login {
    color: #136bb5;
    border: 2px solid #c8dbe5;
    background: white;
    box-shadow: none;
}

.btn-login:hover {
    color: #136bb5;
}

.block-2 .b1-section1 {
    padding-top: 130px;
}

.block-2 .b1-section1 p:last-child {
    color: #292c39;
    font-family: "Gentium";
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    letter-spacing: -0.48px;
}

.block-2 .b1-section1 p:last-child span {
    color: #fb8c00;
    letter-spacing: -0.48px;
}

.block-2 .b1-section2 {
    padding-top: 85px;
}

.block-2 .b2-section3 {
    box-shadow: 0 22px 40px rgba(82, 121, 174, 0.09);
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    padding: 30px 33px 34px 33px;
    margin-top: 40px;
}

.block-2 .b2-section3 select {
    border: 1px solid #e0e5e8;
    background-color: #fafcfc;
    height: 50px;
    width: 100%;
    color: #9ea1a4;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
}

.block-2 .b2-section3 input {
    border: 1px solid #e0e5e8;
    background-color: #fafcfc;
    height: 50px;
    color: #9ea1a4;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
}

.block-2 .b2-section3 p label {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
}

.block-2 .b2-section3 p {
    margin-bottom: 5px;

}

.btn-outline-secondary {
    border-color: #e0e5e8;
    color: #9ea1a4;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
}

.block-2 {
    background: url("../images/b1-bg1.png") no-repeat right -53px top -242px, url("../images/b1-bg2.png") no-repeat left -53px top 70px;
}

.block-2 .b2-section3 .btn-order-now {
    padding: 5px;
    width: 100%;
    margin-top: 30px;
}

.bg-icon1 {
    display: block;
    width: 26px;
    height: 29px;
    background: url('../images/css_sprites.png') -62px -10px;
}

.bg-icon2 {
    display: block;
    width: 32px;
    height: 25px;
    background: url('../images/css_sprites.png') -10px -10px;
}

.bg-icon3 {
    display: block;
    width: 29px;
    height: 25px;
    background: url('../images/css_sprites.png') -108px -10px;
}

.bg-icon4 {
    display: block;
    width: 28px;
    height: 28px;
    background: url('../images/css_sprites.png') -10px -55px;
}

.b2-counter {
    margin-top: 50px;
    background: url("../images/b2-bg3.png") no-repeat center center;
    padding: 41px 16px 51px 55px;
}

.b2-counter p:first-child {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
}

.b2-counter p:first-child span {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
}

.line {
    width: 2px;
    height: 76px;
    background: #e0f3fc;
    margin-top: 90px;
}

.line-title {
    width: 60px;
    height: 2px;
    background: #5fba46;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.bg-icon1__1_ {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -10px -10px;
}

.bg-icon2__1_ {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -107px -10px;
}

.bg-icon1_copy {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -10px -107px;
}

.bg-icon2_copy_2 {
    display: inline-block;
    margin-right: 32px;
    width: 77px;
    height: 77px;
    background: url('../images/css_sprites_2.png') -107px -107px;
}

.b3-section1 {
    display: inline-block;
    margin-top: 50px;

}

.b3-section1 p:first-child {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
}

.b3-section1 p:first-child span {
    margin-left: -100px;
}

.block-3 {
    background: url("../images/b3-bg1.png") no-repeat left -80px top, url("../images/b3-bg2.png") no-repeat center top 215px, url("../images/b3-bg7.png") no-repeat right -321px top 1473px;
}

.block-3 .b3-section2 .b3-s2-tab {
    box-shadow: 1px 2px 3px rgba(100, 103, 108, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 19px 26px 1px 26px;
    margin-top: 10px;
}

.block-3 .b3-section2 .b3-s2-tab p {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
}

.block-3 .b3-section2 .b3-s2-tab p span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background: #dff3fb;
    border-radius: 50%;
    color: #0996cd;
    font-size: 11px;
}

.block-3 .b3-section3 {
    background: url("../images/b3-bg3.png") no-repeat right top, url("../images/b3-bg4.png") no-repeat left 30% bottom;
    margin-right: -140px;
    padding-right: 140px;
    padding-top: 55px;
}

.block-3 .b3-section3 img {
    cursor: pointer;
}

.block-3 .b3-section4 .line-title {
    margin-top: 90px !important;
}

.b3-section6, .b3-section5 {
    margin-top: 45px;
}

.block-3 .b3-section5 h5 {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.bold-p {
    color: #30333f !important;
    font-family: "Open Sans";
    font-size: 15px !important;
    font-weight: 400 !important;
    /* Text style for "A, re you" */
    font-family: "Open Sans - Semibold";
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 27px;
    /* Text style for "Place you" */
    font-family: "Open Sans";
    line-height: 26px;
}

.block-3 .b3-section8 p {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 28px;

}

.block-3 .b3-section8 {
    padding-right: 145px;
    background: url("../images/b3-bg5.png") no-repeat right bottom, url("../images/b3-bg6.png") no-repeat right top;
    padding-bottom: 130px;
}

.block-4 .b4-section1 p:first-child {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.title-p {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
    /* Text style for "G, aylon V" */
    letter-spacing: 0.42px;
}

.block-4 .b4-section1 a {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 30px;
}

.block-4 .b4-section1 a:nth-child(2) {
    opacity: 0.4;
}

.block-4 .b4-section1 {
    padding: 49px 54px;
    box-shadow: 0 3px 40px rgba(150, 150, 150, 0.14);
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 30px;
}

.block-4 .b4-section2 {
    margin-top: 30px;
}

.block-4 .b4-section1 i {
    color: #ffc863;
}

.block-4 {
    background: url("../images/b4-bg1.png") no-repeat left 89px top 108px, url("../images/b4-bg2.png") no-repeat right center;
    padding-bottom: 120px;
}

.block-5 .b5-section1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-5 .b5-section1 p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.block-5 .b5-section1 .btn-order-now {
    box-shadow: 0 2px 10px rgba(126, 80, 22, 0.21), 0 2px 0 1px rgba(126, 80, 22, 0.09);
    background: none;
    background-color: #ffffff;
    color: #fb8c00;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
    width: 180px;
}

.block-5 {
    background: url("../images/b5-bg2.png") no-repeat left -50px bottom -50px, url("../images/b5-bg1.png") no-repeat right -50px bottom -50px, url("../images/b5-bg3.png") no-repeat center;
    background-color: #ff9e24;
}

.block-6 {
    background: #1f2028;
    padding-top: 100px;
    padding-bottom: 90px;
}

.block-6 .b6-logo {
    margin-bottom: 60px;
}

.block-6 p {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.block-6 .b6-phone, .block-6 .b6-email, .b6-adrress, .b6-social {
    margin-bottom: 30px;
}

.block-6 .b6-phone div p, .block-6 .b6-email div p, .b6-adrress div p {
    color: #f6f9f9;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.block-6 .b6-social i {
    color: #ffffff;
    font-size: 19px;
    margin-left: 10px;
}

.block-6 .b6-title p {
    color: #ff9e24;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.block-6 .b6-service ul, .block-6 .b6-menu ul {
    padding-left: 0;
}

.block-6 .b6-service ul li a {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}

.block-6 .b6-menu ul li a {
    color: #f6f9f9;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}

.block-6 .b6-section1 p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.block-6 .b6-section2 p {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

.block-6 .b6-section3 ul li {
    border-right: 1px solid #505255;

}

.block-6 .b6-section3 ul li a {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 25px;
    margin-right: 25px;
}

.border-none {
    border: none !important;
}

.b6-footer {
    padding-top: 60px;
    border-top: 1px solid #6d6e75;
    margin-top: 60px;
}

.blog-1 nav ol.breadcrumb {
    background: none;
    padding: 0;
}

.blog-1 nav ol.breadcrumb li {
    color: #595a60;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.blog-1 nav ol.breadcrumb li a {
    color: #595a60;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.blog-1 {
    padding-top: 70px;
    padding-bottom: 85px;
    background: url("../images/blog-img-1.png") no-repeat left -65px top 40px, url("../images/blog-img-2.png") no-repeat right 80px top 50px, url("../images/blog-img-3.png") no-repeat center top -250px;
}

.bg-blog {
    background-color: #f2fafe;
    box-shadow: 0 1px 3px rgba(83, 94, 105, 0.32);
    margin-bottom: 30px;
}

.blog-2-s1 {
    padding: 30px 15px 5px 0px;
}

.blog-2-s1 h3 {
    color: #136bb5;
    font-family: "Gentium Book Basic";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.blog-2-s1 div a {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}

.blog-2-s1 div p i {
    margin-left: 12px;
}

.pl-0 {
    padding-left: 0 !important;
}

.blog-2-s3 h3 {
    border-radius: 10px 10px 0 0;
    background-color: #8dcdff;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    padding: 8px 30px 5px 30px;
    margin-bottom: 0;
}

.blog-2-s3 ul li {
    color: #004f99;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 45px;
    /* Text style for "Dissertati" */
    letter-spacing: -0.14px;
    border-bottom: 1px solid #e6f5fe;;
}

.blog-2-s3 ul li i {
    opacity: 0.4;
    margin-top: 15px;
}

.blog-2-s3 ul {
    border-radius: 0 0 10px 10px;
    border: 3px solid #e6f5fe;
    margin-bottom: 30px;
}

.blog-2-s4 span a {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #e0f3fc;
    margin: 5px 5px;
    display: inline-block;
}

.blog-2-s4 {
    margin-bottom: 30px;
}

.baner-1 {
    padding: 40px 47px;
    background: url("../images/baner1-img1.png") no-repeat left top,
    url("../images/baner1-img3.png") no-repeat left top 240px,
    url("../images/baner1-img4.png") no-repeat right top 210px,
    #f2fafe url("../images/baner1-img5.png") no-repeat left 47% top 217px;
    #f2fafe url("../images/baner1-img5.png") no-repeat left 47% top 217px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 rgba(0, 49, 84, 0.1);
    margin-bottom: 30px;
}

.baner-1 h3 {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    /* Text style for "Words to T" */
    letter-spacing: -0.6px;
}

.baner-1 p:nth-child(2) {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.baner-1 p:nth-child(3) {
    color: #16a6da;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    /* Text style for "Use our ne" */
    letter-spacing: -0.32px;
}

.baner-1 .btn-order-now {
    display: block;
    margin: 0 auto;
    color: #ffffff !important;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 80%;
    padding-top: 9px;
    margin-top: 20px;
}

.baner-2 {
    background: url("../images/baner2-img1.png") no-repeat left top;
    padding: 33px 0 33px 33px;
}

.baner-2 h3 {
    color: #1d319d;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 600;
    line-height: 23.7px;
    text-transform: uppercase;
    /* Text style for "15%OFF" */
    letter-spacing: -1.09px;
}

.baner-2 p {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}

.baner-2 .btn-order-now {
    margin-top: 0;
    box-shadow: none;
    background: white;
    color: #fb8c00 !important;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 13px;
}

.baner-3 {
    background: url("../images/baner3-img1.png") no-repeat left top;
    padding: 40px 30px 135px 35px;
}

.baner-3 h3 {
    color: #ffffff !important;
    font-family: "Open Sans" !important;
    font-size: 22px !important;
    font-weight: 700;
    line-height: 26px;
    /* Text style for "Want a TOP" */
    letter-spacing: -0.44px;
}

.baner-3 p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.baner-3 .btn-order-now {
    color: #ffffff !important;
    margin-top: 0;
}

.page-link {
    position: relative;
    display: block;
    padding: 0;
    margin-left: 30px;
    line-height: 1.25;
    color: #3c3d3e;
    background-color: #fff;
    border: none;
    padding: 5px 10px;

}

.pagination {
    margin-top: 50px;
    margin-bottom: 100px;

}

.page-link:hover {
    padding: 5px 10px;
    border-radius: 50%;
    color: #136bb5;
}

.my-active {
    background-color: #136bb5;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
}

.page-item:last-child .page-link, .page-item.disabled .page-link {
    border-radius: 0;
}

.free-essays-s1 h3 {
    color: #30333f;
    font-family: Gentium;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    /* Text style for "Free colle" */
    letter-spacing: -0.6px;
}

.free-essays-s1 h5 {
    color: #30333f;
    font-family: "Gentium Book Basic";
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    /* Text style for "Profession" */
    letter-spacing: -0.48px;
}

.blue-p {
    color: #136bb5;
    font-family: "Gentium";
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    line-height: 31px;
    padding: 0 38px;
    text-align: center;
}

.free-essays-s1 ul li {
    list-style: none;
    background: url("../images/free-essays-img1.png") no-repeat left top 8px;
    padding-left: 30px;
    color: #004f99;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    /* Text style for "Feeling em" */
    letter-spacing: -0.3px;
    margin-bottom: 13px;
}

.bg-icon3_copy_7 {
    width: 27px;
    height: 31px;
    background: url('../images/free-essays.png') -10px -10px;
}

.bg-icon3_copy_3 {
    width: 28px;
    height: 24px;
    background: url('../images/free-essays.png') -10px -106px;
}

.bg-icon3_copy_4 {
    width: 30px;
    height: 24px;
    background: url('../images/free-essays.png') -59px -61px;
}

.bg-icon3_copy_2 {
    width: 29px;
    height: 26px;
    background: url('../images/free-essays.png') -106px -10px;
}

.bg-icon3_copy_5 {
    width: 29px;
    height: 27px;
    background: url('../images/free-essays.png') -57px -10px;
}

.bg-icon3__1_ {
    width: 29px;
    height: 25px;
    background: url('../images/free-essays.png') -10px -61px;
}

.free-essays-s2 {
    box-shadow: 0 1px 4px rgba(100, 103, 108, 0.26);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 19px;
    margin-bottom: 15px;
}

.free-essays-s2 p {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.3px;
    margin-bottom: 0;
}

.free-essays-s2 div div {
    margin-right: 15px;
}

.free-essays-s2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background: #dff3fb;
    border-radius: 50%;
    color: #0996cd;
    font-size: 11px;
    margin-right: 15px;
}

.baner-4 {
    background: url("../images/baner4-img1.png") no-repeat left top;
    height: 140px;
    padding: 33px 50px;
    margin-bottom: 30px;
}

.baner-4 div p:first-child {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    /* Text style for "Our outsta" */
    font-family: "Open Sans";
    letter-spacing: -0.36px;
}

.baner-4 div p:last-child {
    color: #07477d;
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: -0.36px;
    font-size: 18px;

}

.baner-4 a {
    color: white !important;
}

.baner-4 .btn-order-now {
    margin-right: 0;
    margin-top: 10px;
}

.our-service-s1 h3 {
    margin-bottom: 19px;
    margin-top: 24px;
}

.our-service-s1 h5 {
    margin-bottom: 51px;
    margin-top: 20px;
}

.our-service-s1 img {
    margin: 0 auto;
    display: block;
}

.alert-blue {
    border-radius: 5px;
    background: #5fbdde url("../images/our-service-img2.png") no-repeat right bottom;
    padding: 30px 15px 15px 15px;
    margin-bottom: 25px;
}

.alert-blue p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    /* Text style for "You can al" */
    letter-spacing: -0.3px;
}

.calc-form {
    box-shadow: 0 22px 40px rgba(82, 121, 174, 0.09);
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    padding: 35px;
    margin-bottom: 30px;
}

.calc-form h3 {
    margin: 0;
}

.radios-as-buttons {
    border: 1px solid #d8dadb;
    height: 50px;
}


.radios-as-buttons input {
    position: absolute;
    left: -9999px;
}

.radios-as-buttons input:checked + label {
    background-color: #0071c7;
    color: white;
}

.calc-form label {
    color: #6d6e75;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    margin-top: 26px;
}

.calc-form h3 {
    margin-bottom: 35px;
}

.calc-form select, .calc-form input {
    height: 50px;
}

.calc-form .btn-order-now {
    margin-right: 0;
    width: 200px;
}

.radios-as-buttons label {
    display: block;
    padding: 15px 5px 10px 5px;
    /* box-shadow: 0 0 3px rgba(5, 14, 39, 0.3); */
    background-color: #fcfcfc;
    border-right: 1px solid rgba(5, 14, 39, 0.3);
    cursor: pointer;
    height: 100%;
    text-align: center;
    width: 25%;
    margin-bottom: 0;
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
}

.blog-page-s1 h3:first-child {
    color: #136bb5;
    margin-bottom: 35px;
}

.blog-page-s1 img {
    margin-bottom: 20px;
}

.blog-page-s1 i {
    color: #9ea1a4;
    margin-left: 10px;
}

.blog-page-s1 a {
    color: #6d6e75;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

.border-bottom {
    border-bottom: 1px solid #e6f5fe;
    margin-bottom: 15px;
}

.p-contact-s1 {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.bg-3_layers {
    width: 134px;
    height: 127px;
    background: url('../images/css_sprites3.png') -10px -10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.bg-3_layers__1_ {
    width: 134px;
    height: 127px;
    background: url('../images/css_sprites3.png') -164px -10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.bg-3_layers__2_ {
    width: 134px;
    height: 127px;
    background: url('../images/css_sprites3.png') -10px -157px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-s1 .baner-4 {
    margin-top: 30px;
}

.contact-s1 .baner-5 {
    background: url("../images/contact-img1.png") no-repeat right bottom;
    padding: 15px;
    padding-left: 285px;
    margin-bottom: 30px;

}

.supor p:first-child {
    color: #07477d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.32px;
    margin-bottom: 0;
}

.supor p:last-child {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    /* Text style for "Have you g" */
    letter-spacing: -0.36px;
}

.contact-s1-phone p {
    color: #07477d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 0;
    letter-spacing: -0.32px;
}

.contact-s1-btn .btn-order-now {
    margin-top: 0;
    width: 110px;
}

.contact-s1-btn .btn-order-now:first-child {
    box-shadow: 0 2px 5px rgba(113, 209, 91, 0.3);
    background-color: #fb8c00;
    background-image: linear-gradient(to top, #60bb47 0%, #71d15b 100%);

}

.contact-s1-phone {
    padding-left: 15px;
}

.discount-s1 h3 {
    color: #30333f;
    font-family: "Gentium";
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    /* Text style for "Flexible P" */
    letter-spacing: -0.6px;
}

.discount-s1-of {
    background: url("../images/graph_copy.png") no-repeat right bottom, url("../images/graph_copy_2.png") no-repeat top left;
    padding: 33px;
}

.mb-90 {
    margin-bottom: 90px;

}

.discount-s1-of h5 {
    border: 5px solid #ffffff;
    color: #fb8c00;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 600;
    line-height: 23.7px;
    text-transform: uppercase;
    /* Text style for "5%OFF" */
    letter-spacing: -1.09px;
}

.discount-s1-of p {
    color: #596b8e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    /* Text style for "for more t" */
    font-family: "Open Sans";
    letter-spacing: -0.32px;
}

.discount-s1-of p span {
    font-family: "Open Sans";
    font-weight: 600;
    letter-spacing: -0.32px;
}

.discount-s1-of a.btn-order-now {
    background-image: none;
    background-color: #136bb5 !important;
    color: white;
    margin-top: 0;
}

.discount-s1-of a.btn-order-now.orange-color {
    background-color: #ffffff !important;
    color: #fb8c00 !important;
}

.discount-s1-of a.btn-order-now:hover {
    color: white;
}

.mt-60 {
    margin-top: 60px;
}

.price-s1 {
    border: 1px solid #e0f3fc;
    padding: 16px;
    margin-top: 15px;
}

.price-s1 input {
    height: auto;
}

.price-s1 p {
    margin-bottom: 0;
}

.price-rodio:checked {
    background: red;
}

.price-s1 span {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;
}

.order-total {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    /* Text style for "Order tota" */
    letter-spacing: -0.36px;
    margin-top: 35px;
}

.order-total span {
    color: #fb8d01;
    letter-spacing: -0.36px;
}

.prices-s1 h3 {
    font-family: "Gentium";
    color: #30333f;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    /* Text style for "We know yo" */
    letter-spacing: -0.6px;
    margin: 19px 0;
}

.ml-30 {
    margin-left: -30px !important;
}

.price-s2 {
    padding: 41px 41px 37px 55px;
    background-color: #f2fafe;
    margin-top: 13px;
}

.price-s2 p {
    color: #30333f;
    font-family: "Gentium";
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 28px;
}

.price-s2 p.line-title {
    background: #5fbdde;
    margin-top: -40px !important;
    margin-bottom: 38px !important;
}

.prices-s1 {
    margin-bottom: 60px;
}

.order-s1 span {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #67bcff;
    border-radius: 50%;
    color: white;
}

.order-s1 p {
    color: #30333f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    /* Text style for "Fill in yo" */
    letter-spacing: -0.28px;
    margin-bottom: 0;
}

.order-s1 i {
    color: #67bcff;
    font-size: 14px;
}

.order-s2 {
    box-shadow: 0 22px 40px rgba(82, 121, 174, 0.09);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 18px;
}

.order-page-head ul li {
    padding-left: 44px;
}

.order-page-head ul li span.blue-order {
    color: #1d71b8;
    font-weight: 600;
}

.order-page-head ul li i {
    margin-left: -44px;
    margin-right: 15px;
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #98d188;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 13px;
}

.order-page-head {
    padding-top: 70px;
    padding-bottom: 145px;
    background: url(../images/order-img4.png) no-repeat right 53px top 230px / 135px,
    url(../images/order-img2.png) no-repeat left 240px top 300px / 154px,
    url(../images/order-img3.png) no-repeat right 328px top 300px / 78px,
    url(../images/order-img1.png) no-repeat left -53px top 206px / 250px,
    url(../images/blog-img-1.png) no-repeat left -65px top 40px,
    url(../images/blog-img-2.png) no-repeat right 80px top 50px,
    url(../images/blog-img-3.png) no-repeat center top -65px;
}

.order-page-head ul {
    margin-top: 30px;
}

.order-page-s1 h3 {
    color: #136bb5;
    font-family: "Gentium";
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
}

.order-page-s1 {
    margin-top: -90px;
}

.order-page-s1 label {
    color: #9ea1a4;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
}

.order-page-s1 input, .order-page-s1 select, .order-page-s1 textarea {
    border: 1px solid #e0e5e8;
    background-color: #fafcfc;
    color: #9ea1a4;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
}

.italic-p {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-page-s1 .radios-as-buttons label {
    padding: 7px 5px 10px 5px;
}

.order-page-s1 .radios-as-buttons {
    height: 34px;
}

.group-number .italic-p {
    margin-top: 0;
}

.mr-15 {
    margin-right: 15px;
}

input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type=file] + label {
    color: #0071c7;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 30.98px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    border: 2px solid #c8dbe5;
    border-radius: 46px;
    padding: 5px 38px;
}

.order-page {
    margin-bottom: 30px;
}

.input-group-prepend {
    height: 33px;
    width: 145px;
}

.input-group-text {
    width: 100%;
}

.input-group-text.orange-btn-form {
    background-color: #f78a00;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 90px;
    /* Text style for "Apply for" */
    letter-spacing: 0.24px;
    text-align: center;
}

.input-group-text.blue-btn-form {
    background-color: #1369b2;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 90px;
    /* Text style for "Apply for" */
    letter-spacing: 0.24px;
    text-align: center;
}

.order-s3 p {
    color: #fb8c00;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
    /* Text style for "Your disco" */
    letter-spacing: 0.13px;
}

.order-s5 {
    border: 1px solid #e0e5e8;
    background-color: #ffffff;
    padding: 10px 60px;
    margin-bottom: 30px;
    height: 150px;
}

.order-s5 label {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    /* Text style for "Get order" */
    letter-spacing: -0.13px;
    margin-top: 40px;
}

.order-s5 input {
    margin-top: 15px;
}

.order-s5 p {
    color: #fb8c00;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.bold-blue-p {
    color: #136bb5;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
}

.price-p {
    color: #fb8c00;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.price-discount-p {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: line-through;
    text-transform: uppercase;
    margin-bottom: 0;
}

.baner-6 {
    border: 1px solid #d9eaf8;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.order-s6 .form-group {
    margin-bottom: 0;
}

.order-s6 {
    padding: 43px 30px;
}

.order-s7 {
    background-color: #fb8c00;
    padding: 45px 33px 21px 33px;
}

.order-s7-b1 p:nth-child(1) {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 700;
    line-height: 22.89px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.order-s7-b1 p:nth-child(2) {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.89px;
}

.order-s7-b2 p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.order-s7-b2 p:nth-child(2) {
    font-size: 23px;
}

.order-s8 button {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 40.65px;
    text-transform: uppercase;
    /* Text style for "Proceed" */
    letter-spacing: 0.13px;
}

.order-s8 .btn-order-now {
    width: 200px;
    height: 54px;
}

.order-s8 p {
    color: #2a2d3a;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    /* Text style for "Order tota" */
    font-family: "Open Sans";
    letter-spacing: -0.22px;
    margin-top: 28px;
}

.order-s8 p span {
    color: #136bb5;
    font-family: "Open Sans";
    font-weight: 700;
}

.order-s9 {
    background: #e0f3fc url("../images/order-imag5.png") no-repeat left top;
    border-radius: 5px;
    padding: 16px 0 2px 0;
    margin-bottom: 30px;
}